html, body {
	font-size: 16px;
	/* I put font in nav & jumbotron only below */
	/*font-family: 'Orbitron', sans-serif;*/
	margin: 0;
	padding: 0;
	background-color:#A6AFB9;
}
nav {
	margin: 0;
	padding: 0;
}
/* Font for nav and jumbotron */
nav, .jumbotron {
	font-family: 'Orbitron', sans-serif;
}
 /* Navbar collapsable-content button */
.navbar-toggler {
	border: 1px solid #A6AFB9;
	margin-top: .8rem;
}
.navbar-toggler:hover {
	border: 1.5px solid gray;
	color:gray;
}
/* Logo */
.navbar-brand {
	position: relative;
	margin: 0 auto;
}

/* Jumbotron */
.jumbotron {
	position: relative;
	background-image: url(../img/space2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 600px;
	margin-bottom: 0;
	border-bottom: 2px solid #4E4E4E;
}
.jumbotron h1 {
	text-shadow: 2px 1px #F4AD4E;
}
#astronaut {
	position: absolute;
	top: 200px;
	left: 250px;
	width: 150px;
	-webkit-animation: spin 8s infinite alternate; 
	-moz-animation:    spin 8s infinite alternate; 
	-o-animation:      spin 8s infinite alternate; 
	animation:         spin 8s infinite alternate; 
}
/* jumbotron call-to-action */
#my-work-jumbo {
	position: relative;
	margin: 0 auto;
}
#my-work-jumbo button {
	position: relative;
	opacity: 1;
	text-align: center;
	margin: 0 auto;
	opacity: 0.6;
	filter: alpha(opacity:60);
}
#my-work-jumbo button:hover {
	opacity: 1;
	filter: alpha(opacity:100);
}

/* What-I-Do Section */
#what-i-do {
	padding: 10px;
	color: gray;
    background: linear-gradient( 0deg, #0B1320, #000000, #404D58 );
    border-bottom: 2px solid gray; 
    border-top: 2px solid gray; 
}
#what-i-do .col-md-4 {
	padding: 1.5rem;
	margin: 1rem auto;
}
#what-i-do .col-md-4 h4 {
	font-weight: bolder;
	color: #B1FFFF;
}
#what-i-do .col-md-4 i {
	padding: 1rem;
	margin: 0.5rem auto;
	font-size: 5rem;
}

/* Skills Section */
#skills-section {
	background-image: url(../img/patterns/abstract.png);
	background-repeat: repeat;
	background-attachment: fixed;
	background-size: cover;
	padding-top: 5rem;
}
#skills-section img {
	padding: 0.2rem;
	margin: 0 auto;
	-webkit-box-shadow: 6px 12px 60px rgba(5,5,5,0.8);
    box-shadow: 6px 12px 60px rgba(5,5,5,0.8);
    border: 1rem solid rgba(119, 119, 119, 0.18);
}
/* Progress Bars */
.progress {
	height: 1.5rem;
	margin: 3rem auto;
}

.progress[value] {
	/*progress bar data*/
	margin: 4rem auto;
	line-height: 6rem;
}
.progress-text {
	color:white; 
	font-weight: bold; 
	font-size: 1rem;
	position: relative; 
	top: -5.3rem; 
	margin-left: 8%;
}

/* spin keyframes for astronaut */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(50deg) ;
  }
}




/* MEDIA QUERIES

 Extra small devices (portrait phones, less than 34em)
 No media query since this is the default in Bootstrap

 Small devices (landscape phones, 34em and up)
 */

@media (min-width: 34em) { 	

}

/*Medium devices (tablets, 48em and up)*/
@media (min-width: 48em) { 

}
@media (max-width: 61rem) { 	

	.jumbotron {
		text-align: center;
	}
}

/*Large devices (desktops, 62em and up)*/

@media (min-width: 62em) { 	

}

/*Extra large devices (large desktops, 75em and up)*/

@media (min-width: 75em) { 	
}