html, body {
	font-size: 16px;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	/*font-family: 'Arimo', sans-serif;*/
}
nav {
	margin: 0;
	padding: 0;
}
/* Font for nav and jumbotron */
nav, .jumbotron {
	/*font-family: 'Orbitron', sans-serif;*/
}
nav a {
	color: #eceeef;
}
a:hover,a:active {
	color:rgba(224, 224, 224, 0.62);
}
.navbar {
    border-radius: 0;
    position: relative;
}


 /* Navbar collapsable-content button */
.navbar-toggler {
	border: 1px solid #A6AFB9;
	margin-top: .8rem;
}
.navbar-toggler:hover {
	border: 1.5px solid gray;
	color:gray;
}
/* Logo */
.navbar-brand {
	position: relative;
	margin: 0 auto;
}

/* Jumbotron */
.jumbotron {
	position: relative;
	/*background-image: url(../img/space2.jpg);*/
	background-image: url(../img/patterns/mountains-space.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position:50% 8%;
	/*background-attachment: fixed;*/
	/*background-size:100% 100%;*/
	height: 700px;
	margin-bottom: 0;
	border-bottom: 2px solid #4E4E4E;
	overflow: hidden;
	text-align: center;
}
.jumbotron h1 {
	text-shadow: 2px 1px #F4AD4E;
}
a#work-link {
    background-color: #37424c;
    border: 2px solid #9ee4e4;
    
    margin-top: 400px;
    color: #9ee4e4;
    z-index: 2;
}
a#work-link:hover {
	background-color: #333e47;
    border: 1px outset #9ee4e4;
    /* box-shadow: 1px 2px 5px #fddc68; */
}



a:hover, a:active, a:visited {
	text-decoration: none;
	color: none;
}
#astronaut {
	position: absolute;
	top: 200px;
	left: 250px;
	width: 150px;
	-webkit-animation: spin 8s infinite alternate; 
	-moz-animation:    spin 8s infinite alternate; 
	-o-animation:      spin 8s infinite alternate; 
	animation:         spin 8s infinite alternate;
	z-index: 10;
}

/* ~~~~~ What-I-Do Section */
#what-i-do {
	color: gray;
	background: -webkit-linear-gradient(bottom, #0B1320, #000000, #404D58);
	background: -o-linear-gradient(bottom, #0B1320, #000000, #404D58);
	background: linear-gradient(to top, #0B1320, #000000, #404D58);
    border-bottom: 2px solid gray; 
    border-top: 2px solid gray;
    height: 100%; 
}
#what-i-do .col-md-4 {
	padding: 3rem;
}
#what-i-do .col-md-4 h4 {
	font-weight: bolder;
	color: #B1FFFF;
}
#what-i-do .col-md-4 i {
	padding: 1rem;
	margin: 0.5rem auto;
	font-size: 5rem;
}
/* ~~~~~ABOUT~~~~ */
#about {
	padding: 5rem;
	height: 41rem;
	background-image: url(../img/img-noise.png);
	background-repeat: repeat;
	background-attachment: fixed;
	border-top: 12px solid black;
    border-bottom: 12px solid black;
}
#about img {
	position: relative;
	height: 35rem;
	overflow: hidden;
}
#about #about_text {
	color: white;
}
#about h1#about_text2 {
    text-shadow: 5px 5px 6px #000000;
}

/*~~~~ RECENT WORK*/
#recent-work-heading {
    color: #09101c;
    height: 240px;
    height: 15rem;
    border-bottom: 5px outset gray;
    border-radius: 0;
    background-color: rgb(143, 165, 204);
    outline: 1px inset white;

}
#recent-work-heading h1 {
	padding: .8rem 6rem;
}
#recent-work-heading p {
	line-height: 0;
	color:#333;
}
#recent-work-heading i {
	display: inline-block;
}

/* ~~~~~~~~~ PROJECTS */
#projects {
	padding: 2rem;
	margin-top: 0;
	/*background-image: url(../img/patterns/abstract.png);*/
	background-image: url(../img/patterns/dark-gray-tile.png);
	background-repeat: repeat;
	background-attachment: scroll;
}
#projects hr {
	margin: 7rem auto;
	background-color: gray;
	height: 0;
	max-height: 0;
}

.project-title {
	padding: 3rem;
	color: #b1ffff;
}
.project-title h1 {
	font-size: 4rem;
	border-bottom: 1px solid #666;
}
.project-title p {
	font-style: italic;
}
.project-tech {
	margin: 0 auto;
	text-align: center;
}
.project-tech img, .project-tech i {
	position: relative;
	top: -0.5rem;
	width: 85px;
	margin: 0 auto;
}
.project-imgs {
/*	width: 35rem;
	height: 20rem;*/
	margin: 3rem auto;
	border: 2px solid gray;
}
.modal {
	background-color: #111;
}
.modal h1 {
	padding: 2rem 0;
}
.modal a:hover {
	text-decoration: none;
}
h1.modal-title {
	padding: 0;
	margin: 0;
}
.modal-dialog {
    background-color: rgba(175, 175, 175, 0.26);
    padding: 1rem;
    text-align: center;
    border-radius: 10px;
    border: 7px inset #d2d2d2;
    color: #c5c5c5;
}
.modal-content {
    padding: 1rem;
    background-color: #2f2f2f;
    color: cornflowerblue;
}
.modal .site-links {
    background-color: #545454;
}
.site-links a {
	color: white;
}
.site-links a:hover {
	color: cornflowerblue;
}
/* onepass */
#projects #onepass {
	margin-top: 3rem;
}


footer {
    border: 5px inset dimgray;
    background-color: #bff0ff;
    padding: 1rem;
}
.slow-spin {
  -webkit-animation: fa-spin 5s infinite linear;
  animation: fa-spin 5s infinite linear;
}
/* spin keyframes for Astronaught */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(50deg) ;
  }
}


/* MEDIA QUERIES

 Extra small devices (portrait phones, less than 34em)
 No media query since this is the default in Bootstrap

 Small devices (landscape phones, 34em and up)
 */

/* 34em = 544px & up*/
@media (max-width: 587px) { 	
	#recent-work-heading h1 {
		font-size: 2.3rem;
	}
	#about h1 {
		font-size: 3rem;
	}
}

/*Medium devices (tablets, 768px and up)*/
/* 48rem = 768px & down */
@media (min-width: 588px) and (max-width: 48em) { 
	#recent-work-heading h1 {
		font-size: 4rem;
	}

}
/* 61rem = 976px & down */
@media (max-width: 61rem) { 	

	.jumbotron h1 {
		font-size: 2rem;
	}

}

/*Large devices (desktops, 62em and up)*/
/* 62rem = 992px & up */
@media (min-width: 62em) { 	

}
/* 74rem = 1184px & down*/
@media (max-width: 74em) { 	
	#about img {
	    height: 29rem;
	}
}

/*Extra large devices (large desktops, 75em and up)*/
/* 75rem = 1200px  & up */
@media (min-width: 75em) { 	
}


/*updating defaults*/

.text-info {
    color: #b1ffff !important;
} 