html, body {
	font-size: 16px;
	margin: 0;
	padding: 0;
	background-color:#444;
}
nav {
	margin: 0;
	padding: 0;
}
.navbar-toggler {
	border: 1px solid gray;
	margin-top: .8rem;
}
.jumbotron {
	background-image: url(../img/space.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 450px;
}
#astronaut {
	position: relative;
	top: 0;
	left: 0;
	width: 100px;
}


/* 
 Extra small devices (portrait phones, less than 34em)
 No media query since this is the default in Bootstrap

 Small devices (landscape phones, 34em and up)
 */

/*@media (min-width: 34em) { 	
}*/

/*Medium devices (tablets, 48em and up)*/

/*@media (min-width: 48em) { 
}*/

/*Large devices (desktops, 62em and up)*/

/*@media (min-width: 62em) { 	
}*/

/*Extra large devices (large desktops, 75em and up)*/

/*@media (min-width: 75em) { 	
}*/